.form {
display: flex;
flex-direction: column;
gap: 5px;
margin-bottom: 20px;
}

.form input {
    padding: 5px 10px;

    border: none;
    background-color: rgb(114, 114, 114);
    color: #fff;
    font-size: 18px;
    transition: outline 0.4s ease;
}

.form input:focus {
    outline: 1px solid blue;
}