@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: "Inter", "Arial", sans-serif;
    color: #353535;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.button {
    display: block;
    margin-top: 10px;
    padding: 6px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    background-color: #777;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    opacity: 0.5;
}

.container {
    padding: 0 50px;
    margin-bottom: 50px;
}

#root {
    padding: 0 50px;
}
